/* Elements */
img {
 width: 40%;
}

/* Classes */
.container {
  min-height: 100%;
  width: 100%;
}
.content-container {
  width: 70%
}

.nav-list {
  list-style-type:none;
  text-decoration: none;
}

/* Ids */
#nav-bar {
  height: 50%;
  width: 8%;
  z-index: +1;
  position: fixed;
  top: 80px;
  float: right;
}
#nav-bar > ul > li {
  background-position: right 30px;
  background-color: grey;
  height: 25px;
  width: 100%;
}
#nav-bar > ul > li::hover {
  background-color: blue;
}
#trevor {
  height: 40%;
}
