/* Elements */
img {
 width: 40%;
}

/* Classes */
.container {
  min-height: 100vh;
  width: 100%;
}
.content-container {
  width: 70%
}

.nav-link {
  color: white;
  background-color: #4B82C1;
  width: 100%;
  text-decoration: none;
  font: bold 12px Arial;
}

.nav-list {
  list-style-type:none;
  text-decoration: none;
}

.segmentHead {
  background-color: #9A9798;
  height: 10%;
}

.project-row {
 display: flex;
 flex-direction: row;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: #5A83E5;
}

/* Ids */
#nav-bar {
  height: 200px;
  width: 8%;
  z-index: +1;
  position: fixed;
  top: 80px;
  right: 30px;
  float: right;
}
#nav-bar > ul > li {
  background-position: right 30px;
  background-color: grey;
  height: 25px;
  width: 100%;
}
#nav-bar > ul > li::hover {
  background-color: blue;
}
#trevor {
  height: 40%;
}
