

/* Classes */
.container {
  min-height: 100%;
  max-width: 70%;
}

.nav-list {
  list-style-type:none;
}

/* Ids */
#nav-bar {
  height: 50%;
  width: 8%;
  z-index: +1;
  position: fixed;
  top: 80px;
}
#nav-bar > ul > li {
  background-color: grey;
}
#nav-bar > ul > li::hover {
  background-color: blue;
}
